@use '../../../sassStyles/variables';

.current-chat {
    width: 100%;
    position: relative;

    .type-message-wrapper {
        display: flex;
        flex-direction: column;
        color: red;
        position: absolute;
        bottom: 0;
        width: 100%;

        .type-message {
            width: 100%;
            margin: 0;
            &__input {
                padding: 1rem;
            }

            &__actions {
                display: flex;

                flex-direction: column;
                width: fit-content;
                position: absolute;
                bottom: 3rem;
                right: 1rem;
                button {
                    &:hover {
                        background: 0;
                        transform: scale(1.1);
                    }
                }

                svg {
                    color: variables.$primary;
                }
            }
        }
    }

    .chat-messages {
        display: flex;
        height: calc(100% - 3rem);
        flex-direction: column-reverse;

        &__inner-container {
            padding: 0.25rem 0 0.5rem 0.5rem;
        }

        &__inner-container:not(:first-child) {
            padding-bottom: 0.25rem;
        }

        &__avatar {
            margin-right: 0.5rem;
            margin-top: auto;
        }

        &__message {
            background: variables.$primary;
            padding: 0.5rem;

            border-radius: 0.75rem;
            min-width: 125px;
            max-width: 400px;
            color: variables.$white;

            p:first-child {
                margin-bottom: 0.5rem;
            }

            &__time {
                margin-left: auto;
                margin-top: -0.5rem;
                opacity: 0.4;
            }
        }
    }
}
