@use '../../../sassStyles/variables';
@use '../../../sassStyles/mixins';

.current-chat {
    width: 100%;
    position: relative;
    height: 100vh;

    .type-message-wrapper {
        display: flex;
        flex-direction: column;
        color: red;
        position: absolute;
        bottom: 0;
        width: 100%;

        .type-message {
            width: 100%;
            margin: 0;
            &__input {
                padding: 1rem;
            }

            &__actions {
                display: flex;

                flex-direction: column;
                width: fit-content;
                position: absolute;
                bottom: 3rem;
                right: 1rem;
                button {
                    &:hover {
                        background: 0;
                        transform: scale(1.1);
                    }
                }

                svg {
                    color: variables.$primary;
                }
            }
        }
    }

    &__no-chat-selected {
        pointer-events: none;
        color: variables.$white;
        display: inline;
        padding: 0.25rem 0.5rem;
        border-radius: 2rem;
        background-color: variables.$primary;
        @include mixins.centered-in-backdrop-portal;
        font-weight: bold;
    }
}
