@use '../../sassStyles/variables';

.input-wrapper {
    position: relative;
    margin-bottom: 2.5rem;
    min-width: 250px;
    height: 44px;
    transition: outline 0.2s ease-in-out, border-color 0.2s ease-in-out;

    input {
        padding: 0.5rem 1rem;
        width: 100%;
        height: 100%;
        border: 0;
        outline: 0;
        line-height: variables.$line-height;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0.5rem 1rem;
        color: variables.$grey;
        pointer-events: none;
        background-color: transparent;
        line-height: variables.$line-height;
        transition: all 0.2s ease-in-out;
    }

    &--filled {
        border: 0;
        outline: 1px solid variables.$grey;

        &:focus-within {
            outline: 2px solid variables.$primary;
        }

        &--error {
            &:focus-within {
                outline: 2px solid variables.$danger;
            }
        }

        &--success {
            &:focus-within {
                outline: 2px solid variables.$success;
            }
        }

        &:focus-within label,
        input:not(:placeholder-shown) ~ label {
            padding: 0 0.5rem;
            background-color: variables.$white;
            top: -14px;
            left: 16px;
            bottom: auto;
        }

        &--remove-outline {
            outline: 0;
        }
    }

    &--outlined {
        outline: 0;
        border-bottom: 1px solid variables.$grey;

        &:focus-within {
            border-bottom: 2px solid variables.$primary;
        }

        &:focus-within label,
        input:not(:placeholder-shown) ~ label {
            padding: 0 0.5rem;
            background-color: variables.$white;
            top: -14px;
            left: 10px;
            bottom: auto;
        }

        &--error {
            &:focus-within {
                border-bottom: 2px solid variables.$danger;
            }
        }

        &--success {
            &:focus-within {
                border-bottom: 2px solid variables.$success;
            }
        }

        &--remove-border {
            border: 0;
        }
    }
}
