@use '../../sassStyles/variables';
@use '../../sassStyles/mixins';

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: variables.$backdrop;
}

.framer-animation {
    height: auto;
    @include mixins.centered-in-backdrop-portal;
}
