@use '../../../sassStyles/variables';
@use '../../../sassStyles/utility.module';

.nav {
    min-width: 350px;

    height: 100vh;
    background-color: variables.$white;
    overflow-y: auto;
    background: variables.$primary;

    .search {
        margin: 0 1rem;
        flex: 1;
    }
}
