@use '../../../sassStyles/variables';
@use '../../../sassStyles/mixins';
@use '../../../sassStyles/utility.module';

.framer-motion__new-contact {
    height: auto;
    @include mixins.centered-in-backdrop-portal;
    color: variables.$white;
    background-color: variables.$primary;
    border-radius: 0.5rem;
    min-width: 350px;

    h4 {
        margin-bottom: 1.5rem;
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1.5rem;
    }

    .first-name {
        flex: 1;
        input {
            padding: 0;
            background-color: transparent;
        }

        label {
            padding: 0;
            top: 14px;
        }

        &:focus-within {
            border-bottom: 2px solid variables.$darkPrimary;
        }

        &:focus-within label,
        input:not(:placeholder-shown) ~ label {
            padding: 0;
            top: -14px;
            left: 0;
            bottom: auto;
        }

        padding: 0;

        & ~ label {
            padding: 0.5rem 0;
        }
    }

    &__actions {
        margin-top: 1rem;
        gap: 1rem;
    }
}
