@use '../sassStyles/variables';

.svg {
    width: 24px;
    height: 24px;
    color: variables.$danger;
}

.svg--error {
    color: variables.$danger;
}

.svg--success {
    color: green;
}

.svg--warning {
}

.svg--primary {
}

/* input {
    &::placeholder {
        color: variables.$darkgray;
    }

    &:not(:focus) {
        transition: transform 0.3s ease-in-out;
    }

    &:focus {
        transition: all 0.3s ease-in-out;
        transform: scale(1.025);
    }
} */

form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    /* padding: 2rem; */
    height: fit-content;
    /* outline: 2px solid variables.$grey; */
    /* flex-grow: 1; */
    /* box-shadow: 10px 12px 12px 15px rgba(0, 0, 0, 0.2); */
}

p {
    font-size: variables.$pfont;
}

a {
    text-decoration: none;
    p {
        color: variables.$primary;
    }
}

h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    color: variables.$primary;
}

label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}
