@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin disabled {
    pointer-events: none;
    opacity: 0.6;
}

@mixin centered-in-backdrop-portal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

//this should be a utility class -> just testing to see how to use mixins
@mixin full-container-height {
    height: 100%;
}
