// SPACINGS
.p-0 {
    padding: 0;
}

.p-small {
    padding: 0.5rem;
}

.p-t-tiny {
    padding-top: 0.25rem;
}

.p-b-tiny {
    padding-bottom: 0.25rem;
}

.p-t-small {
    padding-top: 0.5rem;
}

.p-b-small {
    padding-bottom: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-2 {
    padding: 2rem;
}

.p-t-1 {
    padding-top: 1rem;
}

.p-t-2 {
    padding-top: 2rem;
}

.p-t-3 {
    padding-top: 3rem;
}

.p-t-5 {
    padding-right: 5rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-t-2 {
    margin-top: 2rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-b-small {
    margin-bottom: 0.5rem;
}

.m-t-5 {
    margin-top: 5rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-r-1 {
    margin-right: 1rem;
}

.m-r-2 {
    margin-right: 2rem;
}

.m-r-3 {
    margin-right: 3rem;
}

.m-l-1 {
    margin-left: 1rem;
}

.m-t-small {
    margin-top: 0.5rem;
}

.text-center {
    text-align: center;
}

// CONTAINERS

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-justify-space-evenly {
    justify-content: space-evenly;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-flex-end {
    justify-content: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-flex-start {
    align-items: flex-start;
}

.flex-align-flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.fit-content {
    height: fit-content;
}

.transparent {
    background: transparent;
}

.full-container-height {
    height: 100%;
}

.height-auto {
    height: auto;
}
