// COLORS
$primary: #6c63ff;
$darkPrimary: #45409c;
$blue: #42b6f5;
$darkBlue: #2061c9;
$warning: #ffd028;
$danger: #f54275;
$success: #75fa83;
$white: #fff;
$grey: #d3d3d3;
$pink: #e0b0ff;
$pastel-blue: #5b6ed9;
$darkgray: #a9a9a9;
$boxShadow: rgba(0, 0, 0, 0.2);
$backdrop: rgba(0, 0, 0, 0.5);
$line-height: 1.5rem;

// FONTS
$pfont: 0.875rem;
/* $small: 0.6rem; */
