@use '../../sassStyles/shared.module';
@use '../../sassStyles/utility.module';

.btn-redirect {
    height: 100%;
    margin-left: 1rem;
}

.redirect-content {
    position: absolute;
    top: 4rem;
    right: 3rem;
}
